@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;

}
body {
    padding:0;
    margin:0;
    min-height:100vh;
    background-color: white;
}
header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #ECDEBB;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
      box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);

}

header .navbar ul{
    list-style: none;

}

header .navbar ul li{
    position: relative;
    float: left;

}
header .navbar ul li a{
    font-size: 15px;
    padding: 20px;
    color: black;
    display: block;

}

header .navbar ul li a:hover{
    background:#706D6D;
    color:white;
    transition:0.5s;
}
header .search{
    margin-top: .55rem;
    padding:1rem .5rem .5rem .5rem;
    border-radius: 5rem;
    font-weight: 100;
    border: none;
    transition: 0.5s ease;
    background-color: #FDF8E5;

}

header .search:hover{
    background-color: white;

}
header #searchbar{
    width: 150%;
}
header .navbar ul li ul{
    position: absolute;
    left:0;
    width: 200px;
    background: #FDF8E5;
    display:none;
}
header .navbar ul li ul li{
    width:100%;
    border-top: 2px solid rgba(0,0,0,.1);
}
header .navbar ul li ul li ul{
    left:200px;
    top:0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display:initial;
}

#menu-bar{
    display: none;    

}

header label{
    font-size: 15px;
    color: black;
    cursor: pointer;
    display: none;
}

header #searchbar{
    width:100%;
    font-size: 15px;
    padding: 11px;
    display:inline;
}

#menu-bar:checked ~ .navbar{
    display:initial;
}

.announcement{
padding: 5rem;
display: block;
justify-content:center;
width: 100%;
max-width: 5000px;
height: auto;
}
.desktop-ann{
    border-radius: 5rem;


}
.mobile-ann{
    display: none;
}



.facebook{
    background-color: #706D6D;
    width: 100%;
}
.desktop-fb img{
    max-width: 5000px;
    height: auto;
    width: 110%;
    padding: 2rem 4rem;

    }

.footer{
    background-color: #FDF8E5;
    width: 100%;
    color: #706D6D;
    font-size: 10px;
}

.row .column a{
text-decoration: none;
color: #706D6D;
font-size: 10px;
}

.column{
    float: left;
    width: 33.33%;
    padding: 2rem 4rem;
    height: auto;
}
.row:after {
content: "";
display: table;
clear: both;
}
.footer-logo img{
width: 5%;
}


.Catergory{
    font-size: 25px;
    padding: 0rem 8rem;

}
.see-all{
    text-decoration: underline;
    color: #5639CC;
    font-weight: 100;
    font-size: 15px;
    padding: 0rem 8rem;

}
.navigation{
    color:#5639CC;
}

.show{display: block;}

img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
}
.Author-name,
.Book-title{
    padding: 0rem 0;
    text-transform: capitalize;
}
.Author-name{
    font-size: .7rem;
    font-weight: 100;
    padding: 1rem 0;
    opacity: 0.9;
    text-decoration: none;
    color: #5639CC;
    text-align: center;

}
.Book-title{
    font-size: 1rem;
    text-align: center;

}

.products{
    padding: 3.2rem 0;
}

.product{
    margin: 2rem;
    position: relative;
}
.product-content{
    padding: 2rem 0.5rem 1rem 0.5rem;
    cursor: pointer;
    border-radius: 20px;
}
.product-img{
    width: 221px;
    height: 235px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 8.4rem;
}
.btn-cart, .btn-save{
    background: transparent;
    border: 1px solid black;
    padding: 0.5rem 0;
    width: 120px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
    margin: 3px;
    border-radius: 20px;
}
.btn-cart{
    background: #FFE685;
    color: black;
}
.btn-cart:hover{
    background: #706D6D;
    color:white;
}
.btn-save{
    border:4px solid #5639CC;
    color:#5639CC;
    background-color: white;
}
.btn-save:hover{
    background: #5639CC;
    color: white;
}
.product-info{
    background: white;
    padding: 0rem 3rem;
    text-align: center;
}

.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}
.Book-title a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}
.Book-title a:hover{
    text-decoration: none;
    color:#5639CC;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    color: black;
    
}

.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}

.product:hover .product-btns{
    opacity: 1;
}


.facebook{
    display: flex;
    justify-content: center;
    margin: 5rem 5rem 0rem 0rem;
    height: 35rem;
}

.social-img{
    justify-content: center;
    width:100%;
}
.mobile-fb{
    display: none;
}


@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px){
    .row{
        margin-left: 2rem;
            }
    
    .mobile-fb{
        display: initial;
        margin-top: 4rem;
    }
    .desktop-fb{
        display: none;
    }
    .mobile-ann{
        display: initial;
        margin-top: 4rem;
        width: 200%;
        justify-content: center;
    }
    .desktop-ann{
        display: none;
    }
    .announcement{
        width: 50%;
        padding: 0rem 0rem;
    }
    .Catergory{
        padding: 0rem 2rem;
        margin-top: 1rem;
    
    }
    .see-all{
        padding: 0rem 2rem;
        margin-top: 1rem;

    
    }
}


@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}


@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
        padding: 0rem 8rem;
    }
}




@media(max-width:900px){

    header{
        padding:20px;
    }
    header label{
        display:initial;
    }
    #searchbar {
        width: 100%;
        font-size: 15px;
        padding: 11px;
        display:none;
        background-color: white;
        border-radius: 0;
        height: 4rem;
    
      }
    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        background: #FDF8E5;
        border-top: 1px solid rgba(0,0,0,.1);
        display:none;
    }
    header .shopping-cart, .location, .saved{
        background-color: #ECDEBB;
    }

    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width:100%;

    }
    header .navbar ul li ul li{
        background:white;
    }
    header .navbar ul li ul li ul{
        width:100%;
        left:0;
    }
    
}
@media(max-width:500px){
    .column{
        width:100%;
        padding:0.5rem 0;
    }
}
