@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
.order-header{
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: #FDF8E5;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
}
.lock{
    width:2rem;
    height:6rem;
}
.logo{
    width:auto;
    height:5rem
}
body {
    padding:0;
    margin-top:12rem;
    min-height:100vh;
    background-color: white;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
.order-steps{
    font-weight: 200;
    color: #5639CC;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.order-steps a:hover{
    text-decoration: underline;
    transform: scale(1.01);

}

.container h1{
    padding:20px 0;
}
.block{
    display:flex;
}
.user-info{
    flex:0.75;
}
.change{
    text-decoration: underline;
    font-weight: 100;
    font-size: 12px;
}
.sub-heading{
    font-size: 15px;
    color:#706D6D;
    font-weight: 400;
}
.shipping-op{
    font-size: 15px;
    color: #706D6D;
    font-weight: 300;
    margin-left: .5rem;

}
.user-box{
    display: inherit;
    width:100%;
    height:220px;
    overflow: hidden;
    background-color: #FDF8E5;
    padding: 20px;
    position: relative;
    border-radius: 1rem;
    margin-bottom: .5rem;
}
.inline-input{
    display:flex;
}

.info-text{
    background: white;
    border: 1px solid #ECDEBB;
    border-radius: 5rem;
    width: 100%;
    height:2rem;
    
}


input[type=text]{
    padding: 12px;
    font-weight: 100;
    margin-top: 0rem;
}
.order-summary{
    font-weight:bolder;
}
.cart-total{
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 21rem;
    border-radius: .5rem;
    background: #FDF8E5;
}
.cart-total p{
    display:flex;
    justify-content: space-between;
    font-size: 15px;
}
.summary-info{
    font-weight: 100;
}

.cart-btns{
    display: inline;
    justify-content: center;
    margin-top: 3rem;
    opacity: 1;
    transition: opacity 0.6s ease;
    width: 100%;

}
.btn-home{
    border: 2px solid #5639CC;
    border-radius: 2rem;
    padding:0.5rem 0;
    margin-top: 3rem;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    margin:0rem 0rem 0rem;
    background:white;
    color:#5639CC;
}
.btn-home:hover{
    background:#5639CC;
    color:white;
    border-color: #5639CC;
}

.btn-checkout{
    background: #FFE685;
    border-radius: 2rem;
    padding:0.5rem 0;
    width:100%;
    text-transform: uppercase;
    cursor: pointer;
    margin:1rem 0rem 1rem;
    color:#000000;
    border-color: #FFE685;
}
.btn-checkout:hover{
    background:#706D6D;
    color:white;
    border-color: #706D6D;

}
.order-footer{
    background-color: #FDF8E5;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 10rem;
    margin-top: 3rem;
}


@media screen and (max-width:900px){
    
    .remove{
        display:none;
    }
    .user-box{
    width:100%;
    margin-right: 1rem;
    }
    .container{
        display: inline-block;
    }
    .order-steps, .container h1{
        margin-left: 1rem;
    }

    .block{
        display: inline-block;
        padding: 1rem 1rem 1rem 1rem;
    }
  
    .order-footer, .order-header{
        width:360px;
        max-width: 160%;
    }
    .product-name, .product-price{
        margin-bottom: 10px;
    }
    .logo{
        height:1rem;
    }
}

.order-footer{
    background-color: #FDF8E5;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 10rem;
    margin-top: 3rem;
}

@media screen and (max-width:900px){
    
    .remove{
        display:none;
    }
    .user-box{
    width:100%;
    margin-right: 1rem;
    }
    .container{
        display: inline-block;
    }
    .order-steps, .container h1{
        margin-left: 1rem;
    }

    .block{
        display: inline-block;
        padding: 1rem 1rem 1rem 1rem;
    }
  
    .order-footer, .order-header{
        width:360px;
        max-width: 160%;
    }
    .product-name, .product-price{
        margin-bottom: 10px;
    }
    .logo{
        height:1rem;
    }
}